<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title th:text="${appName}">Bowling board</title></head>

<body>

<form class="form-inline" action="#" th:action="@{/roll}" th:object="${rollRequest}" method="post">
    <label for="pinsKnocked">Getrofene Pins:</label>
    <input autofocus class="form-control" th:disabled="${game.isFinished()}"
           th:field="*{pinsKnocked}" maxlength="2"
           min="0" th:max="${game.getNextRollMaxPins()}" type="number" onfocus="this.select()"/>
    <button type="submit" class="btn btn-success" th:disabled="${game.isFinished()}">Würfen</button>
    <span th:if="${game.isFinished()}">Das war die letzte Wurf. Die Spiele ist beendet.</span>
</form>


<table class="table table-condensed table-bordered">
    <thead>
    <tr>
        <th>Haus</th>
        <th colspan="6">Würfe</th>
        <th>Punkte</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="frame,iteration : ${game.frames}">
        <td th:text="${iteration.index+1}"></td>
        <td th:each="roll : ${frame.getRolls()}" th:text="${roll?.pins} "
            th:colspan="${6/frame.getRolls().length}">
        </td>
        <td th:text="${frame.getPoints()}"></td>
    </tr>
    <tr th:with="summary=${game.getSummary()}">
        <td>Zusammenfassung</td>
        <td colspan="6">
            Misses: <span th:text=" ${summary.misses}"></span>
            Spares: <span th:text="${summary.spares}"></span>
            Strikes: <span th:text="${summary.strikes}"></span>
            Pins: <span th:text="${summary.totalPins}"></span>
        </td>
        <td><b><span th:text="${summary.totalPoints}"></span></b></td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/restart}" class="pull-right block">Restart</a>

</body>
</html>